.container {
  position: absolute;
  min-width: 240px;
  min-height: 100px;
  padding: 90px 60px 20px 60px;
  box-sizing: content-box;
  left: 50%;
  top: 50%;
  // margin-top: -150px;
  // margin-left: -120px;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  z-index: 1001;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  -ms-animation: cloud 2s 3s ease-in infinite alternate;
  -moz-animation: cloud 2s 3s ease-in infinite alternate;
  -webkit-animation: cloud 2s 3s ease-in infinite alternate;
  -o-animation: cloud 2s 3s ease-in infinite alternate;
  -webkit-animation: cloud 2s 3s ease-in infinite alternate;
  animation: cloud 2s 3s ease-in infinite alternate;

  .login_view__title {
    position: absolute;
    left: 25%;
    top:8px;
    h3 {
      font-size: 18px;
      color: #1582b4;
      font-weight: 800;
    }
  }
}

.showBox {
  transform: rotateY(0deg);
  input {
    color: #61bfff !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
  }
}
.hiddenBox {
  transform: rotateY(180deg);
  input {
    color: #61bfff !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
  }
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 240px;
  min-height: 300px;
  padding: 40px 60px 20px 60px;
  backface-visibility: hidden;
  background: linear-gradient(
    230deg,
    rgba(53, 57, 74, 0) 0%,
    rgb(0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)',GradientType=1 );
  box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.4);
  transition: all 1s;
}

@-ms-keyframes cloud {
  0% {
    -ms-transform: translate(-50%, -50%);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    -ms-transform: translate(-50%, -40%);
  }
}
@-moz-keyframes cloud {
  0% {
    -moz-transform: translate(-50%, -50%);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(-50%, -40%);
  }
}
@-o-keyframes cloud {
  0% {
    -o-transform: translate(-50%, -50%);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    -o-transform: translate(-50%, -40%);
  }
}
@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translate(-50%, -50%);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -40%);
  }
}
@keyframes cloud {
  0% {
    transform: translate(-50%, -50%);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -40%);
  }
}
