.box {
  .register_log,
  .login_log {
    .title {
      height: 50px;
      color: #d3d7f7;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 10px;
      font-weight: 600;
    }
    .login-form-button {
      border-radius: 50px;
      border: 2px solid #4fa1d9;
      background-color: #1890ff;
      padding: 10px 50px;
      height: 100%;
      color: #d3d7f7;
      cursor: pointer;
    }
    .login_register {
      margin-left: 40px;
      font-size: 14px;
      cursor: pointer;
      color: #d3d7f7;
    }
    .login_register:hover {
      color: #4fa1d9;
    }
    .my_input.ant-input-affix-wrapper {
      color: #61bfff;
      border: none;
      outline: none;
      box-shadow: none;
      background: transparent;
    }

    .icon {
      color: #61bfff;
      font-size: 18px;
      margin: -8px;
    }
  }
}

.flex_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.canvas_bg {
  opacity: 0;
}

.margin_from {
  margin: 15px 0;
}

.ant-form-item-explain,
.ant-form-item-explain-error {
  font-size: 12px;
}
